<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Experiência no CodeChella</title>
    <link rel="imagem icon" href="/img/icons_logos/Símbolo-cinza 1.svg" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/desktop.css">
    <link rel="stylesheet" href="/assets/css/secoes/experiencia.css">
    <link rel="stylesheet" href="/assets/css/tablet.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho__container">
        <section class="cabecalho__principal">
            <a href="../index.html">
                <img src="/img/icons_logos/logo_ccwhite.svg" alt="logo do show CodeChella" class="logo__codechella">
            </a>
            <nav class="cabecalho__menu">
                <ul class="menu__lista">
                    <li class="menu__itens"><a href="/views/aExperiencia.html" target="_parent">A experiência</a></li>
                    <li class="menu__itens"><a href="/views/setores.html" target="_parent">Mapa de Setores</a></li>
                    <li class="menu__itens"><a href="/views/informacoes.html" target="_parent">Informações</a></li>
                    <li class="menu__itens"><a href="/views/ingressos.html" target="_parent">Ingresso</a></li>
                </ul>
            </nav>
        </section>

        <section class="cabecalho__banner experiencia__banner">
            <h1 class="cabecalho__titulo">A Experiência</h1>
        </section>
    </header>

    <main class="principal__container">
        <span class="cabecalho__chamada">
            <div class="chamada__img img-first"></div>
            <div class="chamada__texto">
                <h3 class="chamada__texto texto__titulo">Acessbilidade e Inclusão</h3>
                <p class="chamada__texto texto__descricao">
                    Nosso evento tenta abraçar um público mais amplo em todos os sentidos, de todas as idades, corpos, gostos e pensamentos!  Isso está presente no  espaço físico, na sinalização, no treinamento da equipe de apoio, na comunicação em libras, braile, visual e tátil. Além disso, dispomos de ingressos gratuitos para pessoas com deficiência e acompanhantes, pessoas idosas e crianças!
                </p>
            </div>
        </span>

        <span class="cabecalho__chamada">
            <div class="chamada__img img-second"></div>
            <div class="chamada__texto text-alt">
                <h3 class="chamada__texto texto__titulo text-alt">Sustentabilidade</h3>
                <p class="chamada__texto texto__descricao text-alt">
                    Queremos estar aqui celebrando daqui a 50, 100 anos! Por isso, levamos o futuro do nosso planeta a sério. Nosso festival é carbono zero, com utilização de copos retornáveis, coleta e destinação adequada de resíduos, e transporte coletivo.
                </p>
            </div>
        </span>

        <span class="cabecalho__chamada">
            <div class="chamada__img img-third"></div>
            <div class="chamada__texto">
                <h3 class="chamada__texto texto__titulo">Atrações</h3>
                <p class="chamada__texto texto__descricao">
                    Intervenções artísticas e culturais para todos os gostos! Durante os intervalos dos shows, nossa experiência contará com recreação para crianças, oficina de cerâmica, origami, circo e aquarela! Além disso, nosso espaço contra com 3 praças de alimentação, roda gigante e outros brinquedos!
                </p>
            </div>
        </span>
    </main>
    
    <footer class="rodape__container">
        <div class="rodape__detalhes">
            <img src="/img/icons_logos/Logo.svg" alt="logo de rodapé do CodeChella" class="rodape__logo">
            <p class="rodape__redes-sociais">Acesse nossas redes:
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-twitch"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </p>
        </div>
        <p class="rodape__aviso">Desenvolvido por Alura.
            Projeto fictício sem fins comerciais.</p>
    </footer>
    <script src="https://kit.fontawesome.com/eb02f93617.js" crossorigin="anonymous"></script>
</body>
</html>