<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do CodeChella</title>
    <link rel="imagem icon" href="/img/icons_logos/Símbolo-cinza 1.svg" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/desktop.css">
    <link rel="stylesheet" href="/assets/css/secoes/informacoes.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho__container">
        <section class="cabecalho__principal">
            <a href="../index.html">
                <img src="/img/icons_logos/logo_ccwhite.svg" alt="logo do show CodeChella" class="logo__codechella">
            </a>
            <nav class="cabecalho__menu">
                <ul class="menu__lista">
                    <li class="menu__itens"><a href="/views/aExperiencia.html" target="_parent">A experiência</a></li>
                    <li class="menu__itens"><a href="/views/setores.html" target="_parent">Mapa de Setores</a></li>
                    <li class="menu__itens"><a href="/views/informacoes.html" target="_parent">Informações</a></li>
                    <li class="menu__itens"><a href="/views/ingressos.html" target="_parent">Ingresso</a></li>
                </ul>
            </nav>
        </section>

        <section class="cabecalho__banner">
            <h1 class="cabecalho__titulo">Informações</h1>
        </section>
    </header>

    <main class="perguntas__container">
        <h2 class="perguntas__titulo">Perguntas Frequentes</h2>
        <span class="perguntas__lista">
            <div class="perguntas__item accordion-atracoes">
                <div class="accordion">
                    <input type="radio" name="radio-a" id="check1" checked>
                    <label class="accordion__label" for="check1">Quais serão as atrações?</label>
                </div>
                <div class="accordion__content">
                    <p>Teremos dois dias de shows, o primeiro (11/03) com bandas de rock, e o segundo (12/03) com bandas pop. <a href="../index.html">Confira o line-up em detalhes clicando neste link!</a></p>
                </div>
            </div>
            <div class="perguntas__item accordion-faixaEtaria">
                <div class="accordion">
                    <input type="radio" name="radio-a" id="check2">
                    <label class="accordion__label" for="check2">Qual é a classificação etária?</label>
                </div>
                <div class="accordion__content">
                    <p>A partir de 16 anos, todo mundo pode entrar. De 13 a 15 anos, 
                        tem que estar acompanhado dos pais ou responsáveis legais. Menores de 10 anos não podem entrar.</p>
                </div>
            </div>
            <div class="perguntas__item accordion-setores">
                <div class="accordion">
                    <input type="radio" name="radio-a" id="check3">
                    <label class="accordion__label" for="check3">Quais são os setores disponíveis?</label>
                </div>
                <div class="accordion__content">
                    <p>Pista Premium - Pista Comum - Cadeiras Térreo - Cadeiras Superiores - Rampas</p>
                </div>
            </div>
            <div class="perguntas__item accordion-itensProibidos">
                <div class="accordion">
                    <input type="radio" name="radio-a" id="check4">
                    <label class="accordion__label" for="check4">Quais são os itens proibidos?</label>
                </div>
                <div class="accordion__content">
                    <p>Garrafas, latas, bebidas, utensílios de armazenagem, embalagens rígidas com tampa, capacetes, 
                        cadeiras ou bancos, armas de fogo e armas brancas, objetos pontiagudos, cortantes e/ou perfurantes, correntes e 
                        cinturões, fogos de artifício, objetos de vidro, substâncias inflamáveis, cigarro eletrônico, corrosivas e ou 
                        tóxicas, revistas, jornais, livros e copo térmico ou similares.</p>
                </div>
            </div>
            <div class="perguntas__item accordion-meiaEntrada">
                <div class="accordion">
                    <input type="radio" name="radio-a" id="check5">
                    <label class="accordion__label" for="check5">Quem tem direito à meia-entrada?</label>
                </div>
                <div class="accordion__content">
                    <p>De acordo com a Lei Federal, têm direito ao benefício da meia-entrada aqueles que preencherem os requisitos e 
                        apresentarem os documentos comprobatórios.</p>
                </div>
            </div>
        </span>
    </main>
    
    <footer class="rodape__container">
        <div class="rodape__detalhes">
            <img src="/img/icons_logos/Logo.svg" alt="logo de rodapé do CodeChella" class="rodape__logo">
            <p class="rodape__redes-sociais">Acesse nossas redes:
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-twitch"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </p>
        </div>
        <p class="rodape__aviso">Desenvolvido por Alura.</br>
            Projeto fictício sem fins comerciais.</p>
    </footer>
    <script src="https://kit.fontawesome.com/eb02f93617.js" crossorigin="anonymous"></script>
</body>
</html>