<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garanta seu Ingresso</title>
    <link rel="imagem icon" href="/img/icons_logos/Símbolo-cinza 1.svg" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/desktop.css">
    <link rel="stylesheet" href="/assets/css/secoes/ingressoComprado.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho__container">
        <section class="cabecalho__principal">
            <a href="../index.html">
                <img src="/img/icons_logos/logo_ccwhite.svg" alt="logo do show CodeChella" class="logo__codechella">
            </a>
            <nav class="cabecalho__menu">
                <ul class="menu__lista">
                    <li class="menu__itens"><a href="/views/aExperiencia.html" target="_parent">A experiência</a></li>
                    <li class="menu__itens"><a href="/views/setores.html" target="_parent">Mapa de Setores</a></li>
                    <li class="menu__itens"><a href="/views/informacoes.html" target="_parent">Informações</a></li>
                    <li class="menu__itens"><a href="/views/ingressos.html" target="_parent">Ingresso</a></li>
                </ul>
            </nav>
        </section>

        <section class="cabecalho__banner">
            <h1 class="cabecalho__titulo">Seu Ingresso está aqui!</h1>
        </section>
    </header>

    <main class="ingresso__container">
        <h3 class="ingresso__titulo">Uhul, agora sim! Seu ingresso está aqui, apresente na entrada do evento e divirta-se!</h3>
        <span class="ingresso__card">
            <div class="ingresso__logotipos">
                <img src="/img/icons_logos/Logo.svg" alt="logo do CodeChella" class="ingresso__logo-cinza">
                <img src="/img/icons_logos/Ellipse 4.svg" alt="" class="ingresso__logo-branco">
            </div>
            <div class="ingresso__dados">
                <div class="ingresso__qrcode">
                    <img src="/img/icons_logos/Qr code 1.svg" alt="qr code do ingresso">
                </div>
                <div class="ingresso__infos">
                    <h3 class="ingresso__titulo">Pedro Gonçalves</h3>
                    <ul class="ingresso__lista">
                        <li class="ingresso__lista-item">Ingresso Imprensa</li>
                        <li class="ingresso__lista-item">Setor Pista</li>
                        <li class="ingresso__lista-item">Data: 11/03</li>
                        <li class="ingresso__lista-item">Local: São Paulo - SP</li>
                    </ul>
                </div>
            </div>
        </span>
    </main>

    <footer class="rodape__container">
        <div class="rodape__detalhes">
            <img src="/img/icons_logos/Logo.svg" alt="logo de rodapé do CodeChella" class="rodape__logo">
            <p class="rodape__redes-sociais">Acesse nossas redes:
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-twitch"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </p>
        </div>
        <p class="rodape__aviso">Desenvolvido por Alura.</br>
            Projeto fictício sem fins comerciais.</p>
    </footer>
    <script src="https://kit.fontawesome.com/eb02f93617.js" crossorigin="anonymous"></script>
</body>