<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garanta seu Ingresso</title>
    <link rel="imagem icon" href="/img/icons_logos/Símbolo-cinza 1.svg" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/desktop.css">
    <link rel="stylesheet" href="/assets/css/secoes/ingressos.css">
    <link rel="stylesheet" href="/assets/css/tablet.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho__container">
        <section class="cabecalho__principal">
            <a href="../index.html">
                <img src="/img/icons_logos/logo_ccwhite.svg" alt="logo do show CodeChella" class="logo__codechella">
            </a>
            <nav class="cabecalho__menu">
                <ul class="menu__lista">
                    <li class="menu__itens"><a href="/views/aExperiencia.html" target="_parent">A experiência</a></li>
                    <li class="menu__itens"><a href="/views/setores.html" target="_parent">Mapa de Setores</a></li>
                    <li class="menu__itens"><a href="/views/informacoes.html" target="_parent">Informações</a></li>
                    <li class="menu__itens"><a href="/views/ingressos.html" target="_parent">Ingresso</a></li>
                </ul>
            </nav>
        </section>

        <section class="cabecalho__banner ingressos__banner">
            <h1 class="cabecalho__titulo">Garanta seu Ingresso</h1>
        </section>
    </header>

    <main class="formulario__ingresso">
        <h2 class="formulario__titulo">Preencha o Formulário à Seguir:</h2>

        <span class="formulario__container">
            <label class="text__label nome__label" for="nome-completo">Nome Completo:</label>
            <input type="text" class="input-form nome__input" id="nome-completo">

            <label class="text__label email__label" for="email">Email:</label>
            <input type="email" class="input-form email__input" id="email" placeholder="example@email.com">

            <div class="grupo__flex">
                <label class="text__label select__label" for="select">Tipo de Ingresso</label>
                <select class="input-form select__input" id="select">
                    <option selected>Tipo de Ingresso</option>
                    <option value="1">Pista Premium</option>
                    <option value="2">Pista Comum</option>
                    <option value="3">Cadeiras Térreo</option>
                    <option value="4">Cadeiras Superiores</option>
                    <option value="5">Meia-Entrada Social</option>
                </select>

                <label class="text__label nascimento__label" for="nascimento">Data de Nascimento:</label>
                <input type="date" class="input-form nascimento__input" id="nascimento">
            </div>
        </span>

        <p class="botao__compra">
            <a href="/views/ingressoComprado.html">Avançar! <i class="fa-solid fa-arrow-right"></i></a>
        </p>
    </main>
    
    <footer class="rodape__container">
        <div class="rodape__detalhes">
            <img src="/img/icons_logos/Logo.svg" alt="logo de rodapé do CodeChella" class="rodape__logo">
            <p class="rodape__redes-sociais">Acesse nossas redes:
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-twitch"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </p>
        </div>
        <p class="rodape__aviso">Desenvolvido por Alura.
            Projeto fictício sem fins comerciais.</p>
    </footer>
    <script src="https://kit.fontawesome.com/eb02f93617.js" crossorigin="anonymous"></script>
</body>
</html>