@import url(/assets/css/base.css);
@import url(/assets/css/desktop.css);

.cabecalho__banner{
    background-image: url(/img/verao_imagens/2\ -\ Banner\ -\ A\ Experiência.png);
    background-repeat: no-repeat;
    background-size: 110%;
    mix-blend-mode: multiply;
}
.cabecalho__chamada{
    padding: 48px 95px;
}

.img-first{
    background-image: url(/img/verao_imagens/2\ -\ A\ experiência1.png);
    width: 200em;
}

.img-second{
    background-image: url(/img/verao_imagens/2\ -\ A\ Experiência2.png);
    order: 2;
    width: 180em;
}

.img-third{
    background-image: url(/img/verao_imagens/2\ -\ A\ Experiência3.png);
    width: 180em;
}

.chamada__texto{
    text-align: left;
}