:root{
    --azul-escuro-verao: #2E7BA2;
    --azul-claro-verao: #C8DEEF;
    --azul-hoover-verao: #519EC5;
    --mostarda-verao: #DF9010;
    --mostarda-pastel-verao: #FACF9D;
    --mostarda-claro-verao: #FBF0DD;
    --cinza-fonte: #444444;
    --titulos: 'Calistoga', cursive;
    --textos-gerais: 'Raleway', sans-serif;
}