@import url(/assets/css/base.css);
@import url(/assets/css/desktop.css);
@import url(/assets/css/secoes/experiencia.css);
@import url(/assets/css/secoes/setores.css);

/* para o desktop */
@media (max-width: 1410px) {
    /* a partir de 1410px para baixo fica tablet */

    /* home */
    .cabecalho__principal{
        flex-direction: column;
        padding: 32px 60px;
    }
    
    .menu__lista{
        margin-top: 28px;
        gap: 77.33px;
    }

    .cabecalho__banner{
        background: url(/img/verao_imagens/tablet/1\ -\ Banner\ -\ homepage.png);
        background-size: 120%;
        padding: 10em 6em;
    }
    
    .cabecalho__chamada{
        flex-direction: column;
        padding: 32px 78px;
    }

    .chamada__img{
        background-image: url(/img/verao_imagens/tablet/1\ -\ Homepage1.png);
        width: 609px;
        height: 381px;
        margin-bottom: 32px;
    }

    .texto__titulo{
        font-weight: 700;
        margin-bottom: 24px;
    }

    .botao__compra{
        margin-top: 16px;
    }

    .atracoes__titulo{
        margin: 64px 0 80px 0;
    }

    .atracoes__itens{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 48px 42px;
        align-items: center;
    }

    .atracoes__itens ul{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .fourt__sabado{
        padding: 0 62px;
    }

    .lista__third, .lista__fourt{
        column-gap: 32px;
    }

    .rodape__banner{
        background-image: url(/img/verao_imagens/tablet/1\ -\ Homepage2.png);
    }

    .rodape__container{
        flex-direction: column;
        font-size: 20px;
        text-align: center;
        padding: 24px 108px;
    }

    .rodape__aviso{
        margin-top: 32px;
    }

    /* secao experiencia*/
    .experiencia__banner{
        background-image: url(/img/verao_imagens/tablet/2\ -\ Banner\ -\ A\ Experiência.png);
    }

    .img-first{
        background-image: url(/img/verao_imagens/tablet/2\ -\ A\ Experiência1.png);
    }

    .img-second{
        background-image: url(/img/verao_imagens/tablet/2\ -\ A\ experiência2.png);
        order: -1;
    }

    .img-third{
        background-image: url(/img/verao_imagens/tablet/2\ -\ A\ experiência3.png);
    }

    .chamada__texto{
        text-align: center;
    }

    /* mapa de setores */

    .setores__banner{
        background-image: url(/img/verao_imagens/tablet/3\ -\ Banner\ -\ Mapa\ de\ setores.png);
        background-size: 100%;
    }

    .mapa__setores{
        flex-direction: column;
        padding: 32px 60px;
    }

    .detalhes__setores{
        padding: 32px 60px;
    }

    .detalhes__container{
        flex-direction: column;
        justify-content: center;
    }

    .detalhes__itens:nth-child(2){
        margin-top: 0;
    }

    .image__third{
        margin: auto;
    }
}